.vs/ConsoleApp2/FileContentIndex/f41e710d-5c1f-4010-bed0-bf515e002cc2.vsidx
.vs/ConsoleApp2/FileContentIndex/read.lock
.vs/ConsoleApp2/v17/.futdcache.v2
.vs/ConsoleApp2/v17/.suo
.vs/ProjectEvaluation/consoleapp2.metadata.v5.1
.vs/ProjectEvaluation/consoleapp2.projects.v5.1
ClassLibrary1/bin/Debug/net5.0/ClassLibrary1.deps.json
ClassLibrary1/bin/Debug/net5.0/ClassLibrary1.dll
ClassLibrary1/bin/Debug/net5.0/ClassLibrary1.pdb
ClassLibrary1/bin/Debug/net5.0/ClassLibrary1.runtimeconfig.dev.json
ClassLibrary1/bin/Debug/net5.0/ClassLibrary1.runtimeconfig.json
ClassLibrary1/obj/ClassLibrary1.csproj.nuget.dgspec.json
ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.props
ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.targets
ClassLibrary1/obj/project.assets.json
ClassLibrary1/obj/project.nuget.cache
ClassLibrary1/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.AssemblyInfo.cs
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.AssemblyInfoInputs.cache
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.assets.cache
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.csproj.AssemblyReference.cache
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.csproj.CoreCompileInputs.cache
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.csproj.FileListAbsolute.txt
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.dll
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.GeneratedMSBuildEditorConfig.editorconfig
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.genruntimeconfig.cache
ClassLibrary1/obj/Debug/net5.0/ClassLibrary1.pdb
ClassLibrary1/obj/Debug/net5.0/ref/ClassLibrary1.dll
ClassLibrary1/obj/Debug/net5.0/refint/ClassLibrary1.dll
ConsoleApp2/bin/Debug/net5.0/ClassLibrary1.dll
ConsoleApp2/bin/Debug/net5.0/ClassLibrary1.pdb
ConsoleApp2/bin/Debug/net5.0/ConsoleApp2.deps.json
ConsoleApp2/bin/Debug/net5.0/ConsoleApp2.dll
ConsoleApp2/bin/Debug/net5.0/ConsoleApp2.exe
ConsoleApp2/bin/Debug/net5.0/ConsoleApp2.pdb
ConsoleApp2/bin/Debug/net5.0/ConsoleApp2.runtimeconfig.dev.json
ConsoleApp2/bin/Debug/net5.0/ConsoleApp2.runtimeconfig.json
ConsoleApp2/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Caching.Abstractions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Caching.Memory.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Logging.Debug.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Identity.Client.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
ConsoleApp2/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
ConsoleApp2/bin/Debug/net5.0/Newtonsoft.Json.dll
ConsoleApp2/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
ConsoleApp2/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
ConsoleApp2/bin/Debug/net5.0/System.Drawing.Common.dll
ConsoleApp2/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
ConsoleApp2/bin/Debug/net5.0/System.Runtime.Caching.dll
ConsoleApp2/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
ConsoleApp2/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
ConsoleApp2/bin/Debug/net5.0/System.Security.Permissions.dll
ConsoleApp2/bin/Debug/net5.0/System.Text.Encodings.Web.dll
ConsoleApp2/bin/Debug/net5.0/System.Text.Json.dll
ConsoleApp2/bin/Debug/net5.0/System.Windows.Extensions.dll
ConsoleApp2/bin/Debug/net5.0/ref/ConsoleApp2.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
ConsoleApp2/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
ConsoleApp2/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
ConsoleApp2/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ConsoleApp2/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
ConsoleApp2/obj/ConsoleApp2.csproj.nuget.dgspec.json
ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.props
ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.targets
ConsoleApp2/obj/project.assets.json
ConsoleApp2/obj/project.nuget.cache
ConsoleApp2/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConsoleApp2/obj/Debug/net5.0/apphost.exe
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.AssemblyInfo.cs
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.AssemblyInfoInputs.cache
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.assets.cache
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.csproj.AssemblyReference.cache
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.csproj.CopyComplete
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.csproj.CoreCompileInputs.cache
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.csproj.FileListAbsolute.txt
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.dll
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.genruntimeconfig.cache
ConsoleApp2/obj/Debug/net5.0/ConsoleApp2.pdb
ConsoleApp2/obj/Debug/net5.0/ref/ConsoleApp2.dll
